[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
aiohttp = "*"
pep8 = "*"
mongoengine = "*"
python-dateutil = "*"
networkx = "*"
ortools = "*"
flask-cors = "*"

[dev-packages]
pylint = "*"
black = "*"
matplotlib = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
